# API Configuration
# Set the base URL for all API calls
# Development: http://localhost:8081
# Production: http://202.47.59.189:8099
#VITE_API_BASE_URL=http://202.47.59.189:8099

#VITE_API_BASE_URL=http://localhost:8081
#VITE_API_BASE_URL=http://3.19.32.166:8081
VITE_API_BASE_URL=https://jvch-app.jvcpayments.com
VITE_CLIENT_ID=test_client_001

# Enable sample data for development (true/false)
VITE_ENABLE_SAMPLE_DATA=false

# Security - Encryption Key for URL parameters
VITE_ENCRYPTION_KEY=sIYWM/0R7yna+pyxCDR5Fm11K5+DFjIt08VllqPmqzU=